__pycache__/
/*
.*
!.gitignore
!README.md
!ai-cog-neuro
/ai-cog-neuro/2024/.ipynb_checkpoints
/ai-cog-neuro/2024/session3-data-load-viz/eeg_matchingpennies/*
/ai-cog-neuro/2024/session4-preprocess-classify/eeg_matchingpennies/*
