__pycache__/
/*
.*
!.gitignore
!README.md
!ai-cog-neuro
/ai-cog-neuro/2024/.ipynb_checkpoints
/home/julia/Documents/courses/AI_cog_neuro/ai-cog-neuro/2024/session3-data-load-viz/eeg_matchingpennies/*
